body {
  font-family: "Roboto Mono", monospace;
  line-height: 1.6;
}

/*Container*/
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

/*Tooltip*/
section#tooltip p {
  margin: 20px 0;
}

section#tooltip > div > div > p:nth-child(odd)::first-letter {
  font-weight: normal;
  float: left;
  font-size: 4em;
  line-height: 0.75;
  letter-spacing: 0.15em;
  margin-top: 0.2em;
}

.wrapper {
  max-width: 800px;
}

/*Tooltip text*/
.tooltip {
  position: relative;
  color: #00b4ab;
}

.tooltip .tooltip-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  visibility: hidden;
  max-width: 300px;
  background-color: #00b4ab;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(0px, 20px, 0px);
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00b4ab transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  line-height: 1.09375em;
  font-weight: 700;
  margin-bottom: 40px;
  color: #383435;
}

h1::after {
  content: "";
  display: block;
  background-color: #383435;
  width: 5%;
  height: 1px;
  margin-top: 10px;
}
